#area-de-jogosclassicos{
    display: flex;
    margin-top: 70px;
    margin-left: 13%;
    border-radius: 7px;
   /* margin-left:12%;*/
    width:75%;
    height: 400px;
    background-color:#1e1c1c;;
  }

  .jogo-classico-1{
    position: absolute;
    border-radius: 7px;
    margin-left: 2.5%;
    margin-top: 2%;
    width:15%;
    height: 300px;
    background-color:#2684ef;
  }

  .jogo-classico-2{
    position: absolute;
    border-radius: 7px;
    margin-left: 21%;
    margin-top: 2%;
    width:15%;
    height: 300px;
    background-color:#2684ef;
  }

  .jogo-classico-3{
    position: absolute;
    border-radius: 7px;
    margin-left: 39%;
    margin-top: 2%;
    width:15%;
    height: 300px;
    background-color:#2684ef;
  }

  .jogo-classico-4{
    position: absolute;
    border-radius: 7px;
    margin-left: 57%;
    margin-top: 2%;
    width:15%;
    height: 300px;
    background-color:#2684ef;
  }