
.entrar{
  background-color:#0770e7;
  font-family: 'Montserrat', sans-serif; 
  border-radius: 5px;
  border: 2px;
  color: white;
  padding: 11px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
}

.criar-conta{
  background-color:#0770e7;
  font-family: 'Montserrat', sans-serif; 
  border-radius: 5px;
  border: 2px;
  color: white;
  padding: 11px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
}

#btn-ver-mais{
  display: block; 
  margin-top: 5%; 
  margin-left: 42%;
  border-radius:5px;
  border-color:white;
  font-family:  'Montserrat', sans-serif;
  background-color: #181616;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px
}

#btn-ver-mais-2{
  display: block; 
  margin-top: 5%; 
  margin-left: 42%;
  border-radius:5px;
  border-color:white;
  font-family:  'Montserrat', sans-serif;
  background-color: #181616;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px
}