#Farcry{
    width: 76%;
    background-color: #2684ef;
    height: 295px;
    margin-left: 12%;
    border-radius: 5px;
}

#Tomb-Raider{
    width: 76%;
    background-color: #2684ef;
    height: 295px;
    margin-top:5% ;
    margin-left: 12%;
    border-radius: 5px;
}

#Assasins-Creed{
    width: 76%;
    background-color: #2684ef;
    height: 295px;
    margin-top:5% ;
    margin-left: 12%;
    border-radius: 5px;
}