
#Local_Img{
    background-color: antiquewhite;
    width: 100%;
    height: 500px;
}

#Corpo_Site{
    width: 100%;
    height: 2500px;
}

#RodapeSite{
    width: 100%;
    height: 300px;
    background-color: black;
}