
#Local_Img{
    background-color: rgb(104, 104, 104);
    width: 100%;
    height: 900px;
}

#Corpo_Site{
    width: 100%;
    height: 2500px;
}

#RodapeSite{
    width: 100%;
    height: 300px;
    background-color: black;
}