
*{
    margin: 0;
    padding: 0;
}

a{
    display: block;
    text-decoration: none !important;
    font-family: "Poppins";
}

#nav_bar{
    width: 100%;
    background-color: red;
    height: 80px;
}