
*{
    margin: 0;
    padding: 0;
}

a, ul{
    display: inline;
    color: white;
    text-decoration: none !important;
    font-family: Arial;
}

#nav_bar{
    width: 100%;
    list-style:none;
    background-color: red;
    height: 80px;
}